@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "04b03";
  src:
    url("../04b03.ttf") format("truetype"),
    url("../04b03.woff") format("woff"),
    url("../04b03.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

#__nuxt {
  isolation: isolate;
  height: inherit;
}

html {
  @apply bg-gray-100;
  @apply dark:bg-zinc-950;
  @apply dark:text-neutral-100;
  height: 100%;
}

body {
  font-family: "04b03", monospace;
}

.pixel-border {
  clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    calc(100% - 6px) 0,
    calc(100% - 6px) 6px,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) 100%,
    6px 100%,
    6px calc(100% - 6px),
    0 calc(100% - 6px)
  );
}

.image-pixelated {
  image-rendering: pixelated;
}